<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juns.wechat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 环信开始 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 环信结束 -->
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name="com.juns.wechat.App"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.RegisterActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.FriendMsgActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.PublishUserListActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.PublicActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SearchActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.NewFriendsListActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.GroupListActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.PublishMsgListActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SettingActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.AlbumActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.PublishMsgDetailActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.GetMoneyActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SetMoneyActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.AddFromContactActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.EditUserNameActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.WebViewActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>

        <activity
            android:name=".zxing.CaptureActivity"  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.MyCodeActivity"  android:screenOrientation="portrait">
        </activity>
        <service android:name=".view.UpdateService"></service>
        <!-- 朋友圈分享 -->
        <activity
            android:name=".view.activity.ShareActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <!-- 环信开始 -->

        <activity
            android:name=".chat.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustResize|adjustPan"  >
        </activity>
        <activity
            android:name=".view.activity.AddGroupChatActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.GroupSettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.VoiceCallActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.VideoCallActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.BaiduMapActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.AlertDialog"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.ContextMenu"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.ShowBigImage"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.ShowNormalFileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chat.ShowVideoActivity"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>


        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="juns#wechat" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            />
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53912a3156240b01a7075ed1" >
        </meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />
        <!-- 环信结束-->

        <!-- push应用定义消息receiver声明 -->


        <!-- push必须的receviver和service声明 -->
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter >
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.juns.wechat.PushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

               <!-- push必须的receviver和service声明 -->
        <!--
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    -->
        <!--
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->
        <!-- push结束 -->

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data android:name="api_key" android:value="Uvw5AMP15i9v1cUoS5aY7GR1" />
    </application>

</manifest>
